<div>
   <div>
     <img src=<%= user.photo %> alt="profile picture of <%= user.name %>" />
   </div>
    <div>
      <h2><%= link_to user.name, user_path(user.id)%></h2>
        <p>Number of Posts: <%= user.posts_counter%> </p>  


    </div>
</div>