<h1 class="red">List all users</h1>
<%= render "partial/navbar" %>
<div>
<% @users.each do |user|%>

  <div> <%= render 'user', user: user %></div>  
  <%= link_to 'Create post', new_user_post_path(@user) %>
<% end %> <br>
</ul>