<h2>Details of a selected user</h2>

<span><%= @user.photo %></span>
<span><%= @user.name %></span>

<p><%= @user.bio %></p>

<% @user.return_recent_posts.each_with_index do |post, index|%>

<% end %>
<%= link_to "See all posts", user_posts_path(@user.id)%>

