<p> This is the list of posts</p>

 <%= render'users/user', user: @user %>
 
<% @posts.each do |post| %>
<%= link_to post.title, user_post_path(@user, post) %>
<section >
  <ul><%= render 'posts/post', post: post %></ul>

</section>
<% end %>
<%= will_paginate @posts, :container => false %>
